<div class="card bg-white shadow-xl mb-4">
  <div class="card-body">
    <div class="auth-form-wrapper px-4 py-5">
      <h1 class="card-title font-bold text-4xl mb-4">Sign Up</h1><!-- /.card-title font-bold text-4xl mb-4 -->
      <h5 class="mb-4 font-bold text-xl">Create a free account</h5><!-- /.mb-4 font-bold text-xl -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="w-full">
          <div class="flex flex-col md:flex-row md:gap-8">
            <div class="w-full md:w-1/2 mb-4">
              <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">First Name</span><!-- /.label-text -->
                </label><!-- /.label -->
                <input type="text" formControlName="firstName" class="input input-bordered" [ngClass]="{ 'input-error': submitted && f['firstName'].errors }">
              </div><!-- /.form-control w-full max-w-xs -->
              <div class="invalid-feedback text-red-400 text-xs" *ngIf="submitted && f['firstName'].errors">
                <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
              </div><!-- /.invalid-feedback -->
            </div><!-- /.w-full -->
            <div class="w-full md:w-1/2 mb-4"></div><!-- /.w-full -->
          </div><!-- /.flex flex-col md:flex-row md:gap-8 -->
        </div><!-- /.w-full -->
      </form>
    </div><!-- /.auth-form-wrapper px-4 py-5 -->
  </div><!-- /.card-body -->
</div><!-- /.card bg-white shadow-xl mb-4 -->
